exportPattern("^[[:alpha:]]+")
#useDynLib(Sstack, .registration = TRUE)

export(BSHorizontalStack)
export(BSVerticalStack)
export(BSstack)
export(BSstack_predict)

importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,gaussian)
importFrom(stats,glm.fit)
importFrom(stats,predict)
importFrom(randomForest,randomForest)
importFrom(foreach,foreach)
importFrom(foreach,"%dopar%")
importFrom(dplyr,bind_rows)
importFrom(doParallel,registerDoParallel)
importFrom(parallel,makeCluster)
